p{
    color: gray;
}
.container{
    margin-bottom: 60px;
}
/* navbar */
.navbar-nav a{
    color: #000;
}
.navbar-nav :hover{
    color: rgb(255, 209, 109);
}
/* Carousel */
.buy-btn{
    padding: 10px 20px;
    background-color: black;
    border:none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: orange;
}
.carousel-control-prev, .carousel-control-next{
    width: 1%;
}
.carousel-item .col-md-7{
    padding: 60px;
}
.carousel-indicators li{
    background-color: orange;
    height: 10px;
    width: 2%;
    border:none;
    border-radius: 100px;
    transition: 0.5s all ease;
}
.carousel-indicators .active{
    width: 8%;
}
/* Smartphone & Laptop */
.product{
    margin-bottom: 20px;
}
.card{
    background-color: white;
    border:none;
    box-shadow:5px 5px 10px lightgray ;
    border-radius: 20px;
    padding: 50px 30px;
    text-align: center;
    margin-bottom: 30px;
}
.card-footer{
    background-color: white;
    border:none;
}

/* Category */
.category-rows{
    margin-top: 60px;
}
.categories{
    min-height: 500px;
}
.categories img{
    width: 100%;
}
.categories h3{
    text-align: center;
}
.categories h3::after{
    content:"";
    background-image: linear-gradient(to right, rgb(243, 201, 86), orange 50%);
    width: 100px;
    height: 10px;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
}

/* footer */
footer{
    text-align: center;
}